@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$white: rgb(253, 249, 249);
$purple-light: rgb(141, 28, 221);
$black: black;
$blue: rgb(11, 11, 233);
$red: rgb(213, 7, 7);

$roboto: "Roboto", sans-serif;
